/* Стили страницы Студио */
.hero {
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-name {
  margin-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--main-white-color);
  text-transform: uppercase;
}
.main-button {
  margin-bottom: 200px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-white-color);
  background-color: var(--extra-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Main content */
.main-headers {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.secondary-headers {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Наши преимущества */
.display-none {
  display: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-list {
  display: flex;
}

.flex-list > .flex-item:not(:last-child),
.flex-list > .flex-img:not(:last-child),
.flex-list > .names:not(:last-child) {
  margin-right: 30px;
}

.flex-item {
  width: 270px;
}
.advantages {
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
/* Наша команда */
.names {
  line-height: 1.2;
}
.names h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.names p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
}

/* Стили страницы Портфолио */
.list .butt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--buttons-color);
  cursor: pointer;
  color: var(--main-text-color);
  font-family: inherit;
  letter-spacing: 0.03em;
}
.butt:hover,
.butt:focus {
  background-color: var(--extra-color);
  color: var(--main-white-color);
}
.projects a {
  text-decoration: none;
}
.projects h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.projects p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
